
@model DIS_Project.Models.AllData
@{
    ViewData["Title"] = "Food And Drug";

    string[] TableHeaders = new string[] {"Product"
        ,"Recall initiation date"
        ,"Classification"
        ,"Reason for recall"
        ,"Voluntary or Mandated"
        ,"Country"
        ,"City"
        ,"State"
        ,"Distribution"

    };
}

<!DOCTYPE html>
<html lang=" = " en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Food and Drug Recall</title>
    <link rel="stylesheet" href="../css/style.css" />

</head>
<body>
    <nav class="tabs">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#food">Food</a></li>
            <li><a href="#drug">Drug</a></li>
            <li><a href="#chart">Chart</a></li>
            <li><a href="#dataModel">Data Model</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </nav>
    <div class="container_index">

        <section id="home">
            <h1 style="margin:20px;"> Home</h1>

            <p style="width:80%" class="home-para">
                A food or drug recall occurs when a company removes a product from the market because of the possibility that the food may be contaminated or the drug causes severe side effects. When an FDA-regulated product is either defective or potentially harmful, recalling that product i.e removing it from the market or correcting the problem is the most effective means for protecting the public.
                Recalls afford equal consumer protection but generally are more efficient and timely than formal administrative or civil actions, especially when the product has been widely distributed.
                Our website shows recalls of both foods and drugs to promote better consumer awareness and social welfare.
            </p>
        </section>

        <section id="food">
            <div>

                <h5> Select a state to filter:</h5>
                @using (Html.BeginForm("getSelectedFood", "Home", FormMethod.Post))
                {
                    @Html.DropDownList("City", ViewBag.foodCitiesDropdown, null, "Select City")
                    @Html.DropDownList("RecallFromInit", ViewBag.dateList, null, "Date")
                    @Html.DropDownList("RecallToInit", ViewBag.dateList, null, "Date")
                    <input type="submit" value="Go" />
                }

                @*@using (Html.BeginForm("sendDataToDb", "Home", FormMethod.Post))
                        {
                    <div class="container">
                        <div class="form-group">
                            <label>Product </label>
                            @Html.TextBoxFor(x => x.Foodobj.Product);
                        </div>
                        <div class="form-group">
                            <label>Recall </label>
                            @Html.TextBoxFor(x => x.Foodobj.Recall);
                        </div>
                        <div class="form-group">
                            <label>Classification </label>
                            @Html.TextBoxFor(x => x.Foodobj.Classification);
                        </div>
                        <div class="form-group">
                            <label>Reason </label>
                            @Html.TextBoxFor(x => x.Foodobj.Reason);
                        </div>
                        <div class="form-group">
                            <label>Mandate_Recall </label>
                            @Html.TextBoxFor(x => x.Foodobj.Mandate_Recall);
                        </div>
                        <div class="form-group">
                            <label>Country </label>
                            @Html.TextBoxFor(x => x.Foodobj.Country);
                        </div>
                        <div class="form-group">
                            <label>City </label>
                            @Html.TextBoxFor(x => x.Foodobj.City);
                        </div>
                        <div class="form-group">
                            <label>State </label>
                            @Html.TextBoxFor(x => x.Foodobj.State);
                        </div>
                        <div class="form-group">
                            <label>Distribution </label>
                            @Html.TextBoxFor(x => x.Foodobj.Distribution);
                        </div>
                        <div class=" form-group">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                        <input type="submit" value="Create" />
                    </div>


                        }*@
            </div>
            <table class="foodTable">
                <thead>
                    <tr>
                        @{
                            foreach (var head in TableHeaders)
                            {
                                <th>
                                    @head
                                </th>
                            }
                        }

                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null)
                        {

                            foreach (var Data in Model.FoodList)
                            {
                                <tr>
                                    <td>@Data.Product</td>
                                    <td>@Data.Recall</td>
                                    <td>@Data.Classification</td>
                                    <td>@Data.Reason</td>
                                    <td>@Data.Mandate_Recall</td>
                                    <td>@Data.Country</td>
                                    <td>@Data.City</td>
                                    <td>@Data.State</td>
                                    <td>@Data.Distribution</td>
                                </tr>
                            }

                        }

                    }
                </tbody>

            </table>
            <p style="margin:0px; color:black">
                Output table on FOOD Recalls obtained by FDA API
            </p>

        </section>

        <section id="drug">
            <div>
                <h5> Select a state to filter:</h5>
                @using (Html.BeginForm("getSelectedDrug", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.DropDownList("CityD", ViewBag.drugCitiesDropdown, null, "Select City")
                    @Html.DropDownList("RecallFromInitD", ViewBag.dateList, null, "Date")
                    @Html.DropDownList("RecallToInitD", ViewBag.dateList, null, "Date")
                    <input type="submit" value="Go" />
                }
            </div>
            <table class="drugTable">
                <thead>
                    <tr>
                        @{
                            foreach (var head in TableHeaders)
                            {
                                <th>
                                    @head
                                </th>
                            }
                        }

                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null)
                        {

                            foreach (var Data in Model.DrugList)
                            {
                                <tr>
                                    <td>@Data.ProductDescription</td>
                                    <td>@Data.RecallInitDate</td>
                                    <td>@Data.Classification</td>
                                    <td>@Data.Reason</td>
                                    <td>@Data.Voluntary_Mandate</td>
                                    <td>@Data.Country</td>
                                    <td>@Data.City</td>
                                    <td>@Data.State</td>
                                    <td>@Data.Distribution</td>
                                </tr>
                            }

                        }

                    }
                </tbody>
            </table>
            <p style="margin:0px; color:black">
                Output table on DRUG Recalls obtained by FDA API
            </p>

        </section>

        <section id="chart">
            <img style="border-radius:0%" class="chart" src="../img/chart.PNG" />
            &nbsp;
            <p>Date that the FDA issued the enforcement report for the product recall.</p>
        </section>

        <section id="dataModel">
            <img style="border-radius:0%" class="chart" src="../img/dataModel.png" />
            &nbsp;
            <p>Data Model</p>
            <p>https://github.com/Keerthana3195/DIS_Project</p>
            <p>https://open.fda.gov/apis/food/enforcement/</p>
        </section>

        <section id="about">

            <style>
                * {
                    box-sizing: border-box;
                }

                .row {
                    display: flex;
                    height: 500px;
                    overflow-y: auto;
                }
                /* Create three equal columns next to each other */
                .column {
                    flex: 25%;
                    padding: 20px;
                    color: #CC0500;
                }

                .aboutus {
                    color: #CC0500;
                }
                /* Clear floats after rows */
                .row:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                /* Content */
                .content {
                    background-color: black;
                    padding: 10px;
                }
                /* Responsive layout - makes a two column-layout instead of four columns */
                media screen and (max-width: 600px) {
                    .column

                {
                    width: 50%;
                }

                }
                /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
                media screen and (max-width: 300px) {
                    .column

                {
                    width: 50%;
                }

                }

                img {
                    border-radius: 50%;
                }
            </style>



            <div class="body">

                <div class="aboutus">

                    <p style="margin:0">
                        <br /><br /><br /><br />Introducing our amazing team!
                    </p>


                </div>

                <div class="row">

                    <div class="column" name="team member1">
                        <!-- style="width:200px;height:280px;" -->
                        <!-- style="width:100%" -->
                        <img src="/img/Keerthananew.png" alt="Picture of Keerthana" style="width:250px;height:250px;">
                        <h3> Keerthana Yelchuri </h3>
                        <p style="font-size:16px"> Keerthana is a student at USF's Business Analytics and Information System's graduate program. She has worked for over 4 years as a software developer. </p>
                    </div>

                    <div class="column">
                        <img src="/img/Aishwarya_new.png" alt="Picture of Aishwarya" style="width:250px;height:250px;">
                        <h3> Aishwarya Kulkarni </h3>
                        <p style="font-size:16px"> Aishwarya is a student at USF's Business Analytics and Information System's graduate program. She has worked for over 4.5 years as a software developer. </p>
                    </div>

                    <div class="column">
                        <img src="/img/Sujhan.jpeg" alt="Picture of Sujhan" style="width:250px;height:250px;">
                        <h3> Sujhan Das </h3>
                        <p style="font-size:16px">Sujhan is pursuing her Master's in Business Analytics and Information Systems. With a prior background as a data analyst, she is looking forward to the great opportunities at USF. </p>
                    </div>

                </div>


            </div>
        </section>
        <script>
            var ele = document.getElementById('country');
        </script>
    </div>

</body>
</html>

